* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.text1{
    position:absolute; 
    left:1030px; 
    top:390px;
    width:500px;
    height:400px;
    font-size: 20px;
    }

.text2{
    position:absolute; 
    left:1030px; 
    top:680px;
    width:500px;
    height:400px;
    font-size: 20px;
    
}

.opening {
        font-size: 20px;
    font-stretch: expanded;
    padding: 0px
    }
.image{
    position:absolute; 
    left:550px; 
    top:360px;
    width:310px;
    height:200px;
    
    
}
.image2{
    position:absolute; 
    left:550px; 
    top:650px;
    width:310px;
    height:200px;
}
.welcome{
    font-size: 25px;
    position: absolute;
    left:800px;
    top: 280px
}
.title1{
    position:absolute; 
    left:1030px; 
    top:330px;
    width:500px;
    height:400px;
    font-size: 20px;
}
.title2{
     position:absolute; 
    left:1030px; 
    top:620px;
    width:500px;
    height:400px;
    font-size: 20px;
}
img{
    width: 100%;
    height: 100%;
}
.marginstuff{
    margin:500px;
}
a{
    color: black;
}
#cssmenu{
    width:100%;
    text-align: center;
}
.footer {
    position: absolute;
    left: 0px;
    top: 1190px;
    width:100%;
    height: 120px;
    background-color: #f96e5b;
    color: white;
    text-align: center;
}
.facebookimage{
    position: absolute;
    left:30px;
    
    height:60px;
    width:60px;
    top: 30px;
}
.facebook{
    position: absolute;
    left:100px;
    top: 50px;
}